<IfModule mod_rewrite.c>
    DirectoryIndex index.html
    RewriteEngine On
    RewriteBase /student/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /student/index.html [L]
</IfModule>
