<IfModule mod_rewrite.c>
    DirectoryIndex index.html
    RewriteEngine On
    RewriteBase /brandmanager/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /brandmanager/index.html [L]
</IfModule>
